body {
  background-color: white;
  color: black;
}

strong {
  font-weight: 900;
}

/* 正文区基本属性 */
.markdown-body {
  /* A4标准宽度 */
  max-width: 21cm;
  background-color: white;
  counter-reset: h2 0 h3 0 h4 0 h5 0 h6 0;
  font-family: "Times New Roman", "宋体", sans-serif;
  margin: 0 auto;
}



.markdown-body p {
  text-align: left;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: bold;
  /* 标题字体 */
  font-family: "Times New Roman", "黑体", sans-serif;
  page-break-after: avoid !important;
}
.markdown-body h1 {
  text-align: center;
  column-span: all;
}


.markdown-body table {
  /* 三线表第一条线宽度 */
  border-top: 2pt solid;
  /* 三线表第二条线宽度 */
  border-bottom: 2pt solid;
  text-align: center;
  page-break-inside: avoid;
  border-spacing: 6px;
  /* 自动布局表格宽度，如果有时内容太紧建议直接加空格吧，我自己看不惯和页面等宽的大表格 */
  width: auto;
  /* 使表格默认居中；虽然这个代码不好，但好像没别的实现办法 */
  margin: 16px auto;
  border-collapse: collapse;
}
.markdown-body table td {
  padding: 2px;
}
.markdown-body table tr {
  padding: 2px;
}
.markdown-body th {
  padding: 0px 6px;
}
.markdown-body thead {
  /* 表格标题（首行）样式 */
  /* 三线表表头的线 */
  border-bottom: 1pt solid;
  font-weight: 900;
}


.markdown-body blockquote {
  font-style: normal;
  padding-left: 16px;
  padding-right: 20pt;
  margin-left: 20px;
}

.markdown-body hr {
  border-top: solid 0.7px #eee;
}

.markdown-body img {
  page-break-inside: avoid;
}

.markdown-body ul {
  /* 无序列表第一级：实心圆点 */
  list-style: disc;
}
.markdown-body ul ul {
  /*list-style: circle;*/
  /* 请勿删除“–”后的空格, 他们对缩进有一定影响, 下同 */
  list-style: "–  ";
  /*left: -0.8rem;*/
}
.markdown-body ul ul ul {
  /* 无序列表第三极：小圈 */
  list-style: "◦　";
  left: 0.1rem;
}

@counter-style first-level-list-style {
  system: extends decimal
}

@counter-style second-level-list-style {
  prefix: '(';
  suffix: ') ';
  system: extends lower-alpha;
}

@counter-style third-level-list-style {
  system: extends lower-roman;
}

.markdown-body ol {
  list-style-type: first-level-list-style;
  list-style-position: inside;
}
.markdown-body ol ol {
  counter-reset: liist;
  list-style-type: second-level-list-style;
  list-style-position: inside;
}
.markdown-body ol ol ol {
  counter-reset: liiist;
  list-style-type: third-level-list-style;
  list-style-position: inside;
}

.markdown-body>pre {
  background-color: #1e1e1e;
}
